* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}

.card {
  background-color: #f9f9f9;
  border: none;
}

@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
